<!-- HERENCIA DESDE base.html-->
{% extends 'core/base.html' %}

<!-- CARGA DE ELEMENTOS ESTÁTICOS-->
{% load static %}

<!-- BLOQUE CONTENIDO-->
{% block contenido %}

<h2 id="titulo-modificar-celular">Modificar Celular</h2>
<form action="" method="POST" id="formulario-modificar">
    {% csrf_token %}
    <div class="form-group">
        {{form.as_p}}
        
    </div>

    <div id="div-enviar-limpiar">
        <input class="btn btn-primary" type="submit" value="Enviar" id="Modificar">
        <input class="btn btn-secondary" type="reset" value="Limpiar" id="btnLimpiar">
    </div>
</form>

<div id="mensaje" class="" role="alert"> <p id="mensaje-success"> {{ mensaje }} </p></div>
{% endblock %}

    